nav{

    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    grid-gap: 2%;
    margin-left: 2%;
    margin-bottom: -1%;

}

nav p{

    text-align: center;
    padding: 7%;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

#blue{

    background-color: #38b6ff;

}

#blue:hover{

    background-color: #005af7;

}

#green{

    background-color: #00bf63;

}


#green:hover{

    background-color: #006f1f;

}

#yellow{

    background-color: #ffbd59;

}

#yellow:hover{

    background-color: #d8a04ce3;

}

#red{

    background-color: #ff3131;

}

#red:hover{

    background-color: #b21a1a;

}

form{

    background-color: #fff8e1;
    height: 600px;
    width: 90%;
    margin-left: 2%;
    padding: 2%;
    text-align: center;

}

table{

    border: none;
    background-color: white;
    width: 100%;

}

td{

    border: solid #005af7 1px;
    padding: 1%;
    color: #38b6ff;
    font-size: 15px;
    font-weight: bolder;
}

/* clientes modificar */
.clientes_modificar{

    margin-top: 2%;

}

.columns{

    display: grid;
    grid-template-columns: 32% 32% 32%;

}
